
# Lecture : Data Types in Python


Estimated time needed: **15** minutes

___

## Objectives

After completing this lab you will be able to:

* Different data types in Ptyhon
* usage of dtypes

<div class="alert alert-block alert-info">
<b>Note:</b> This Notebook is created for Python Module
In case of any doubts contact to "webinars@theanalytix.in".
</div>

Data types represent the type of value that a variable can hold. Here are some of the common data types in Python:

__Numeric Types:__

* int: Integer type, e.g., x = 5
* float: Floating-point type, e.g., y = 3.14
* complex: Complex number type, e.g., z = 2 + 3j


__Sequence Types:__

* str: String type, e.g., s = "Hello"
* list: List type, e.g., my_list = [1, 2, 3]
* tuple: Tuple type, e.g., my_tuple = (1, 2, 3)


__Set Types:__

* set: Set type, e.g., my_set = {1, 2, 3}

__Mapping Type:__

* dict: Dictionary type, e.g., my_dict = {'key': 'value'}

__Boolean Type:__

* bool: Boolean type, e.g., flag = True

### Numeric Data Type
numeric data types are used to represent numeric values. The primary numeric types in Python include:

In [2]:
# int (Integer): Represents whole numbers without any decimal point.

x = 5 ; a = -90
print(type(x))
print(type(a))


# float (Floating-Point): Represents real numbers with a decimal point (+,-).

y = -3.14
print(type(y))


# complex: Represents complex numbers in the form of a + bj, where a and b are real numbers and j is the imaginary unit.
z = 2 + 3j
h = 5j
print(type(z))
print(h.real, h.imag)

<class 'int'>
<class 'int'>
<class 'float'>
<class 'complex'>
0.0 5.0

### String Data Type
the string data type (str) is used to represent sequences of characters. Strings can contain letters, numbers, and symbols. Here are some examples:

In [3]:
# Single-line string
my_string = "Hello, World!"
print(my_string)

print('------Now let see MLS-----')
# Multiline string using triple-quotes
multiline_string = """This is a
multiline
string."""
print(multiline_string)

Hello, World!
------Now let see MLS-----
This is a
multiline
string.

<div class="alert alert-block alert-info">
<b>Note:</b> Strings in Python are immutable, meaning you cannot change the individual characters of a string directly. However, you can create new strings by combining or manipulating existing ones..
</div>

### List Data Type
a list is a versatile and widely used data type that represents an ordered collection of elements. Lists are defined using square brackets [ ] and can contain elements of different data types. Here's an example of a list:

In [4]:
# Creating a list
my_list = [1, 2, 3, "four", 5.0, [1, 2, 3], ("A","B"), {"C", 12}]
print(my_list)

[1, 2, 3, 'four', 5.0, [1, 2, 3], ('A', 'B'), {'C', 12}]

### Tuple Data Type
a tuple is a data type that represents an ordered, immutable collection of elements. Tuples are similar to lists, but once a tuple is created, you cannot modify its contents (add, remove, or modify elements). Tuples are defined using parentheses () and may contain elements of different data types. Here's an example:

In [ ]:
# Creating a tuple
my_tuple = (1, 2, 3, "four", 5.0, [1, 2, 3], ("A","B"), {"C", 12})
print(my_tuple)

(1, 2, 3, 'four', 5.0, [1, 2, 3], ('A', 'B'), {12, 'C'})

### Set Data Type
a set is a collection of unique elements, and it is defined by enclosing its elements in curly braces {} or by using the set() constructor. Sets do not allow duplicate elements, and they are unordered, meaning the elements do not have a specific order. Here's an example:

In [5]:
# Creating a set
my_set = {10, 22, 93, 94, 35}
print(my_set) # no duplications

my_set.add(22)
print(my_set)

{35, 22, 10, 93, 94}
{35, 22, 10, 93, 94}

### Dict Data Type
a dictionary (dict) is a collection of key-value pairs. Each key in a dictionary must be unique, and it is associated with a corresponding value. Dictionaries are defined using curly braces {} and colons : to separate keys and values, or by using the dict() constructor. Here's an example:

In [ ]:
# Creating a dictionary
my_dict = {"name": "Ajay", "age": 25, "Country": "India"}
print(my_dict)

{'name': 'Ajay', 'age': 25, 'Country': 'India'}

____
___
<div class="alert alert-block alert-success">
<h2>Great Job!</h2>

That's all we need to know for now! Congratulations, you have learnt one more topic and hands-on with Python.This Notebook is prepared by <a href = 'https://www.linkedin.com/in/sumitkumarshukla'> Sumit Kumar Shukla</a> for The Analytix (Theax) Course .
</div>

_______
<h1><b><u>About the Author</u></b></h1>

<font color='Blue'><b>Mr. Sumit Kumar Shukla</b></font><br>
<font color='Blue'><b>Founder & Director (Theax), Data Scientist & Subject Matter Expert - IBM</b></font>


Mr. Sumit is the <b>Founder and Director at The Analytix (Theax)</b>, a Data Scientist familiar with gathering, cleaning and organizing data for use by technical personnel. Advanced understanding of statistical, algebraic and other analytical techniques. Highly organized, motivated and diligent with significant background in Data Analytics and Modelling. Detail-oriented team player with strong organizational skills. Ability to handle multiple projects simultaneously with a high degree of accuracy.<br>
    
Having 5+ years of experience tutoring students from IITs, NITs, IISCs, IIMs, and other prestigious institutions. Google Data Studio certified and IBM certified data analyst. Knowledgeable about Advanced Analytics using languages like Python, R, SQL, and Tableau. Competent in Data Science, Machine learning models, graph databases, and data mining approaches for predictive modelling and analytics.

**Â© Copyright 2023. All Rights Reserved. Course materials may not be reproduced in whole or in part without the prior written permission of Theax.**